@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pauseAnimation {
    animation-play-state: paused;
  }
  .justify-distribute {
    text-justify: distribute;
    hyphens: auto;
  }
}

body {
  background: black;
  color: white;
}
